*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}
.navbar {
    display: flex;
    background-color: #46468b;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.logo-pic {
    height: 50px;
    width: 50px;
}

.companyLogo{
    font-size: 2rem;
    margin: 0.5rem;
    color: #fff;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.navbar-links li a{
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    display: block;
}
.navbar-links li:hover{
    background-color: #c3c3c3;
}

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 0.75rem;
    right: 1rem;   
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
} 
@media (max-width:600px){
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
.title {
    text-align: center;
    color: #f5f0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: #46468b;

}
.enter-location {
    height: 7vh;
    text-align: center;
    background-color: #46468b;
}
#location-search {
    height: 40px;
    width: 300px;
    margin: 7px;
    border: #ffd700 5px solid;
    border-radius: 50px;
}
#location-search::placeholder {
    font-size: 17px;
    color: #0000ff;
    padding-left: 10px;
    opacity: 0.8;
}
#location-search:focus {
    border: #ff0000 5px solid;
    background-color: #ff8690fb
}
.output {
    background-color: aliceblue;
    min-height: 80vh;
    display: grid;
    grid-template-areas:"a b c"
                        "d e f"
                        "g h i";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.75fr 1.25fr 1fr;   
}
.location-popup {
    grid-area: b;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #87ceeb;
    text-align: center;
    font-size: 25px;
}
.weather-icon {
    height: 10vh;
    visibility: visible;
    grid-area: b;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    margin-top: 15px;
}
.icon {
    grid-area: b;
    visibility: hidden;
    width: 150px;
    height: 150px;
   
}
.loader {
    grid-area: b;
    visibility: hidden;
    height: 60px;
    width: 60px;
    border: #0000ff 10px solid;
    border-top: #ff0000 10px solid;
    border-radius: 50%;
    background-color: #ffd700;
    font-size: 12px;
    text-align: center;
    justify-self: center;
    margin-top: 15px;

    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.info {
    height: 20vh;
    visibility: hidden;
    text-align: center;
    grid-area: e;
    width: 50%;
    justify-self: center;
}
.place {
    font-weight: bold;
    font-size: 35px;
    border-bottom: #0000ff solid 3px;
}
.timeNow, .description, .temp, .humid, .airpress, .wind, .sunrise, .sunset {
    font-size: 20px;
    border-bottom: #0000ff solid 3px;
}
.description {
    text-transform: capitalize;
}
.metric {
    margin-top: 10px;
    height: 30px;
    background-color: #ffd700;
    padding: 5px;
}
.weekly-container {
    height: 25vh;
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 1em;
}
.dayOne, .dayTwo {
    height: 200px;
    width: 200px;
    border: #46468b 2px solid;
}
.weekIcon {
    height: 100px;
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.dayDate {
  font-size: 1rem;  
}
.maxTemp {
    font-size: 1rem;

}
.min-temp {
    font-size: 1rem;
}
.weekDescription {
    font-size: 1rem;
}
@media screen and (max-width: 600px) {
    body {
        min-height: 100vh;
    }
    .logo-pic {
        height: 2rem;
        width: 2rem;
    }
    .companyLogo {
        font-size: 1.5rem;
    }
    .enter-location {
        height: 7vh;
        justify-content: center;
        align-items: center;
    }
    #location-search {
        height: 30px;
    }
    .output {
        grid-template-rows: 0.5fr 1.5fr 1fr;
    }
    .weather-icon {
        height: 100%;
    }
    .icon {
        height: 4rem;
        width: 4rem;
    }
    .location-popup {
        font-size: 1.25rem;
        width: auto;
        justify-self: center;
    }
    #chooseLoc {
        width: 50%;
    }
    .info {
        width: 100%;
        margin-bottom: 10vh;
    }
    .place {
        font-size: 25px;
    }
    .timeNow, .description, .temp, .humid, .airpress, .wind, .sunrise, .sunset {
        font-size: 1rem;
    }
    .metric {
        height: 1.5rem;
        padding: 2.5px;
    }
    .weekly-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 1em;
        height: 20vh;
        margin: 1rem;
    }
    .dayOne, .dayTwo {
        width: 100%;
        height: 100%;
    }
    .weekIcon {
        height: 50px;
        width: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .dayDate {
        font-size: 0.5rem;  
      }
      .maxTemp {
          font-size: 0.5rem;
      
      }
      .min-temp {
          font-size: 0.5rem;
      }
      .weekDescription {
          font-size: 0.5rem;
      }
}

@media  screen and (max-height: 600px) {
    .output {
        grid-template-rows: 12% 58% 30%;
    }
    .weather-icon {
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .icon {
        height: 2rem;
        width: 2rem;
    }
    .place {
      font-size: 20px;
    }
    .weekly-container {
        height: auto;
    }
    .dayOne, .dayTwo {
        width: 100%;
        height: 100%;
    }
    .weekIcon {
        height: 40px;
        width: 40px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .dayDate {
        font-size: 0.4rem;  
      }
      .maxTemp {
          font-size: 0.4rem;
      }
      .min-temp {
          font-size: 0.4rem;
      }
      .weekDescription {
          font-size: 0.4rem;
      }
   
}